.icons{
	background: url("../images/all.png");
	width: 200px;
	height: 200px;
}
.bg{
	width: 200px;
	height: 200px;
	background: url("../images/add.png");
}
.bg2{
	width: 200px;
	height: 200px;
	background: url("../images/folder.png"); 
}
.bg3{
	width: 200px;
	height: 200px;
	background: url("../images/refresh.png");
}
.bg4{
	width: 200px;
	height: 200px;
	background: url("../images/warning.png");
}
.bg5{
	width: 200px;
	height: 200px;
	background: url("../images/Category.png");
}